<?xml version="1.0"?>
<config>
	<global>
		<models>
            <blocktabs>
                <class>Smartaddons_BlockTabs_Model</class>
            </blocktabs>
        </models>
		<blocks>
            <blocktabs>
                <class>Smartaddons_BlockTabs_Block</class>
            </blocktabs>            		
        </blocks>				
		<helpers>
            <blocktabs>
                <class>Smartaddons_BlockTabs_Helper</class>
            </blocktabs>
        </helpers>
        <resources>
        	<blocktabs_setup>
        		<setup>
        			<module>Smartaddons_BlockTabs</module>
        		</setup>
        	</blocktabs_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<blocktabs>
                <use>standard</use>
                <args>
                    <module>Smartaddons_BlockTabs</module>
                    <frontName>blocktabs</frontName>
                </args>
            </blocktabs>
        </routers>
		<layout>
            <updates>
                <blocktabs module="Smartaddons_BlockTabs">
					<file>smartaddons/blocktabs.xml</file>
                </blocktabs>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Smartaddons_BlockTabs>
                     <files>
                          <default>Smartaddons_BlockTabs.csv</default>
                     </files>
                </Smartaddons_BlockTabs>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Smartaddons_BlockTabs>
                     <files>
                          <default>Smartaddons_BlockTabs.csv</default>
                     </files>
                </Smartaddons_BlockTabs>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<blocktabs_cfg translate="title" module="blocktabs">
											<title>SM Block Tabs Settings</title>
										</blocktabs_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <blocktabs_cfg>
        	<general>
                <title>SM BlockTabs</title>
                <include_jquery>1</include_jquery>
            </general>
        </blocktabs_cfg>
    </default>
</config>